@import "componentes/bootstrap_reboot";
@import "componentes/breakpoints.scss";
@import "componentes/globales.scss";
@import "componentes/grids.scss";
@import "componentes/perfiles.scss";
@import "componentes/estadisticas.scss";
@import "componentes/ubicaciones.scss";
@import "componentes/galerias.scss";
@import "componentes/articulos.scss";
@import "componentes/intros.scss";
@import "componentes/cajas.scss";
@import "componentes/buscadores.scss";
@import "componentes/filtros.scss";
@import "componentes/headers.scss";
@import "componentes/footers.scss";
@import "componentes/homepages.scss";
@import "componentes/sidebars.scss";
@import "componentes/banners.scss";