header.header--principal
	.logo.logo--header: img(src="../images/logo--header.svg")
	nav.nav--header: ul
		li: a(href="#") Playstation
		li: a(href="#") Xbox
		li: a(href="#") Nintendo
		li: a(href="#") PC
		li: a(href="#") Mobile
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search